<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portofolio</title>
    <!-- Box Icons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>

<body>
        <!-- Header design -->
        <header class="header">
          <a href="../main.html" class="logo"><img src="../images/mr2.png" alt="" width="220" height="40"></a>
            <i class="bx bx-menu" id="menu-icons"></i>
      
            <nav class="navbar">
              <a href="../main.html" class="active">Home</a>
              <a href="about.html">About</a>
              <a href="services.html">Services</a>
              <a href="portofolio.html">Portofolio</a>
              <a href="contact.html">Contact</a>
            </nav>
          </header>
          
        <!-- About Section -->
        <section class="about" id="about">
          <div class="about-img">
            <img src="" alt="" />
          </div>
        
          <div class="about-content">
            <h2 class="heading">About <span>Me</span></h2>
            <h3></h3>
            <p></p>
          </div>
        </section>
     <!-- footer -->
     <footer class="footer">
        <div class="footer-text">
          <p>Copyright &copy; 2023 by Rafi Munggaran</p>
        </div>
        <div class="footer-iconTop">
          <a href="services.html"><i class='bx bx-right-arrow-alt'></i></a>
        </div>
      </footer>
  
      <!-- scroll reveal -->
      <script src="https://unpkg.com/scrollreveal"></script>
  
      <!-- typed.js -->
      <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
      <script src="../js/about.js"></script>
</body>
</html>
     

